html {
    height: 100%;
    background: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    font: 17px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $primary-text-color;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}

.main {
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    transition: color 0.15s linear;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-text-color;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding: 15px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

::selection {
    background-color: $primary-color-dark;
    color: $main-white;
}