#handbook {
    height: 100%;
}

.handbook {

    .content {
        padding-top: 50px;
        padding-bottom: 15px;
    }

    .mainContent__iframe {
        height: 100%;
        border: none;
    }
}