$text-main: #11435c;
$text-secondary: rgba(91, 118, 129, 0.9);
$text-tertiary: #58595b;
$text-white: #ffffff;
$text-black: #000000;
$text-blue: #36617b;

$red: #e74e2f;
$blue: #007092;
$blue-bright: #009af9;
$black: #000000;

$bg-white: #ffffff;
$bg-lightgrey: #e8edf1;
$bg-darkgrey: #c0c8cb;
$bg-buttons: rgba(231, 78, 47, 0.1);
$input-border: #d4d4d4;
$input-checkbox-border: #d4d4d5;

$mobile-padding: 10px;
$tablet-padding: 15px;
$desktop-padding: 50px;
$big-desktop-padding: 135px;
