.modal-intro {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;

  &__bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
  }

  &__main {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3000;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 5px 10px 15px 10px;
    width: calc(100% - 30px);
    background-color: $bg-white;

    @include respond(tablet) {
      max-width: 810px;
    }
  }

  &__button-close {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    padding: 5px;
    box-sizing: content-box;
    appearance: none;
    border: none;
    background: url(../img/close@2x.png) no-repeat 50% 50%;
    background-size: 15px;
  }

  &__inner-wrapper {
    @include respond(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 70px;
    }
  }

  &__text {
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-family: "Boxed";
    font-size: 16px;
    line-height: 1.3;

    @include respond(tablet) {
      font-size: 24px;
    }

    @include respond(desktop) {
      font-size: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include respond(tablet) {
      flex-direction: row;
    }
  }

  &__states-button,
  &__privates-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    max-width: 320px;
    height: 48px;
    padding: 15px 25px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $text-white;

    @include respond(tablet) {
      margin: 0;
      width: 320px;
    }
  }

  &__states-button {
    margin-bottom: 10px;
    background-color: $blue;

    @include respond(tablet) {
      margin-right: 30px;
    }
  }

  &__privates-button {
    background-color: $red;
  }
}

.modal-intro--show {
  display: block;
}
