$black: #000;
$white: #fff;
$primaryBg: #222d43;
$secondaryBg: #121423;
$thirdBg: #20263E;
$green: #87E389;
$violet: #8C91BA;
$blue: #32448C;

$main-padding: 30px;

$tablet-width: 769px;
$desktop-width: 1200px;