@charset "UTF-8";

:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	font-family: 'Exo 2', sans-serif;	
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
    color: $black;
	background-color: $white;
}

.content {
	flex-grow: 1;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
 	width: 1px;
	height: 1px;
 	margin: -1px;
 	border: 0;
    padding: 0;
 	white-space: nowrap;
  	clip-path: inset(100%);
 	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.nav-menu--opened {
    overflow: hidden;
}

.section-title{
	margin-top: 0;
    margin-bottom: 30px;
    padding-top: 45px;
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
	color: #37a3db;
	background: url('../img/cardio.svg') no-repeat 0 0;
	@media (max-width: 520px) {
		text-align: center;
		background: url('../img/cardio.svg') no-repeat 50% 0;
	}
}

@media (min-width: $desktop-width) {
    .nav-menu {
        overflow: visible;
	}
}

.container {                
	@include min-max(320px, 100%, 0);
	background-color: $white;
	height: 100%;
	width: 100%;
}

.wrap {
	width: 100%;
	@include min-max(320px, 1220px, 15px);
}