@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Thin'), local('Exo2-Thin'), url('../fonts/exo2thin.woff2') format('woff2'), url('../fonts/exo2thin.woff') format('woff'), url('../fonts/exo2thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url('../fonts/exo2extralight.woff2') format('woff2'), url('../fonts/exo2extralight.woff') format('woff'), url('../fonts/exo2extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Light'), local('Exo2-Light'), url('../fonts/exo2light.woff2') format('woff2'), url('../fonts/exo2light.woff') format('woff'), url('../fonts/exo2light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2'), local('Exo2-Regular'), url('../fonts/exo2.woff2') format('woff2'), url('../fonts/exo2.woff') format('woff'), url('../fonts/exo2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Medium'), local('Exo2-Medium'), url('../fonts/exo2medium.woff2') format('woff2'), url('../fonts/exo2medium.woff') format('woff'), url('../fonts/exo2medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('../fonts/exo2semibold.woff2') format('woff2'), url('../fonts/exo2semibold.woff') format('woff'), url('../fonts/exo2semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/exo2bold.woff2') format('woff2'), url('../fonts/exo2bold.woff') format('woff'), url('../fonts/exo2bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url('../fonts/exo2extrabold.woff2') format('woff2'), url('../fonts/exo2extrabold.woff') format('woff'), url('../fonts/exo2extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Black'), local('Exo2-Black'), url('../fonts/exo2black.woff2') format('woff2'), url('../fonts/exo2black.woff') format('woff'), url('../fonts/exo2black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}