$black: #363636;
$white: #fff;
$blue: #37a3db;
$darkblue: #1c5471;
$grey: #666;
$lightblue: #EAF5FB;
$red: #E74D2F;

$main-padding: 15px;
$desktop-padding: $main-padding*2;
$mobile-padding: $main-padding;

$tablet-width: 769px;
$desktop-width: 1220px;